body {font-family: Arial, Helvetica, sans-serif;}


.bg-img {
  /* The image used */
  background-image: url("img/3.jpg");

  min-height: 1000px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */

}

/* Position the navbar container inside the image */

.topnav {
    float: right;
    left: 16px;
  }
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }  

  .hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}
.name{
  color: #4CAF50;
}
.logo1{
  width:100%; 
 
  text-align:center; 
  padding:20px; 

}

.column {
  float: left;
  width: 50%;
  padding: 10px ;
}
.card {
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container{
  padding:  2px 8px;
}


/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* counter*/
.counter
{
  background-image:url("img/3.jpg") ;
  border-image-width: auto;
    background-color: #eaecf0;
    text-align: center;
}
.employees,.customer,.design,.order
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter-count
{
    font-size: 18px;
    background-color: #00b3e7;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.employee-p,.customer-p,.order-p,.design-p
{
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
 
 
}
.image-thumbnail{
  padding-left: 100px;
}

.image-thumbnail:hover .overlay {
  
  padding-left: 20px 20px;
  padding-right: 2px;
                       
}
.text {
  color: rgba(0, 0, 0, 0.952);
  font-size: 20px;
  position: absolute;
 
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.btnp{
align-items: center;
text-align: center;
}
                                                                                                                                                                                                 
.site-footer
{
  background-color:#2e2e2e;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#adadad
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#ccced8
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

/* ................about section ..................*/


 .site-footer1{
   background-color: rgb(234, 238, 238);
 }

.bg-img2{
  /* The image used */
  background-image: url("img/2.jpg");

  min-height: 350px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
  /* Needed to position the navbar */

 .text-about{    
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
 
  transform: translate(-50%, -50%);
  color: rgb(87, 87, 87);
 }



 /* about section */

 



 .counter{
    color: #f27f21;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    height: 190px;
    width: 190px;
    padding: 30px 25px 25px;
    margin: 0 auto;
    border: 3px solid #f27f21;
    border-radius: 20px 20px;
    position: relative;
    z-index: 1;
}
.counter:before,
.counter:after{
    content: "";
    background: #f3f3f3;
    border-radius: 20px;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
    position: absolute;
    left: 15px;
    top: 15px;
    bottom: 15px;
    right: 15px;
    z-index: -1;
}
.counter:after{
    background: transparent;
    width: 100px;
    height: 100px;
    border: 15px solid #f27f21;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 20px;
    box-shadow: none;
    top: auto;
    left: -10px;
    bottom: -10px;
    right: auto;
}
.counter .counter-icon{
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 15px;
    transition: all 0.3s ease 0s;
}
.counter:hover .counter-icon{ transform: rotateY(360deg); }
.counter .counter-value{
    color: #555;
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 20px;
    display: block;
    transition: all 0.3s ease 0s;
}
.counter:hover .counter-value{ text-shadow: 2px 2px 0 #d1d8e0; }
.counter h3{
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 15px;
}
.counter.blue{
    color: #4accdb;
    border-color: #4accdb;
}
.counter.blue:after{
    border-bottom-color: #4accdb;
    border-left-color: #4accdb;
}
@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}


/* search section */

.bg-img3{
  /* The image used */
  background-image: url("img/search1.jpg");

  min-height: 370px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.btn {
  margin-right: 0.5rem !important
}

.btn {
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 400;
  padding: .7rem 1.5rem;
  border-radius: 0.1275rem
}



.toast {
  transition: 0.32s all ease-in-out
}

.toast-container--fade {
  right: 0;
  bottom: 0
}

.toast-container--fade .toast-wrapper {
  display: inline-block
}

.toast.fade-init {
  opacity: 0
}

.toast.fade-show {
  opacity: 1
}

.toast.fade-hide {
  opacity: 0
}
/* search section */
